// =====================================
//
//   Base
//
// =====================================

// -------------------------------------
//   Global
// -------------------------------------

html {
  width: 100%;
  height: 100%;
  max-height: 100%;
  font-size: $b-fontSize;
  font-family: $b-fontFamily;
  background-color: $white;
  color: $c-text;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, .outer-scaffold, .inner-scaffold {
  height: 100%;
  font-size: 100%;
  letter-spacing: 0.01em;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}

::-moz-selection {
    background: $grey2;
}

::selection {
    background: $grey2;
}

.site-body {
  min-height: 100%;
  margin-bottom: em(-122px);

  &:after {
    content: "";
    display: block;
    height: em(122px);
  }

  @media (max-width: $g-m) {
    min-height: 0;
    margin-bottom: 0;

    &:after {
      height: 0;
      display: none;
    }
  }
}

* {
  box-sizing: border-box;
// override this for: colorbox, some accordion containers
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// class on the body element

// -------------------------------------
//   Block-level elements
// -------------------------------------

// reset

blockquote, p, address, h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: inherit;
  line-height: 1.2;
  margin-top: 0; // use tool class for other spacing attributes

  & > a:link, & > a:active, & > a:visited {
    border-bottom: none;
    text-decoration: none;
  }
}

// strip list style, spacing

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

// bullet list

.list-bullet {
  margin: 0;
  padding-left: em(24px);
  list-style: disc outside;
  line-height: $b-lineHeight;

  li {
    margin-bottom: $b-space-2;
  }
}

// undo bullets in mobile
.t-alignC .list-bullet {
  @media (max-width: $g-m) {
    list-style: none;
    padding-left: 0;
  }
}

// list items inline

.list-inline {
  li {
    display: inline-block;
    margin-right: $b-space-2;
  }

  &.rtl {
    li {
      margin-right: 0;
      margin-left: $b-space-2;
    }
  }
}

// default body copy

p {
  margin: 0 auto $b-space-4;
  line-height: $b-lineHeight;

  &:last-child {
    margin-bottom: 0;
  }
}

.preview {
  font-weight: 300;
  font-family: $b-sans-fontFamily;
  line-height: $b-lineHeight-compact;
}

// forms, etc.

fieldset {
  border: none;
  padding: 0;
}

address {
  font-style: normal;
}


// -------------------------------------
//   Block Level elements
// -------------------------------------

.hairline {
  display: block;
  border: 0;
  height: 0;
  width: auto;
  margin: 0;
  border-bottom: $b-borderWidth-xs solid $grey2;

  &.grey3 {
    border-color: $grey3;
  }

  &.blueGrey0 {
    border-color: $blueGrey0;
  }

  &.dotted {
    border-style: dotted;
  }
}

// -------------------------------------
//   Inline elements
// -------------------------------------

a, a:active, a:visited {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: $b-borderWidth-xs solid $blue0;
}

a:hover {
  color: $blueGrey0;
  border-color: $blueGrey0;
}

.section a {
  color: $blue0;
}

.footer-content a {
  color: $grey3;
  font-family: $b-sans-fontFamily;
  font-weight: 700;
  border-color: $blueGrey0;

  &:hover, &:focus {
    color: $grey0;
    border-color: $grey0;
  }
}

// -------------------------------------
//   Form elements
// -------------------------------------

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

button,
a.button {
  display: inline-block;
  padding: 0 $b-space-2;
  color: $white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  font-size: $b-fontSize-s;
  line-height: em(44px, 18px);
  border-radius: $b-borderRad-1;
  overflow: hidden;
}