// =====================================
//
//   TC Milestones
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Base
// -------------------------------------

.milestone-years {
  font-family: $b-serif-fontFamily;

  td {
    vertical-align: top;
    text-align: left;

    &.year-marker {
      font-size: $b-fontSize-xl;
      color: $blueGrey0;
      font-style: italic;
      line-height: 2;
      padding: 0 em(20px, 24px) em(20px, 24px) 0;
      width: em(72px, 24px);
      border-right: $b-borderWidth-xs solid $grey3;
    }

    &.year-milestones {
      width: 100%;
      padding: 0;
    }

    // last of type
    &:last-of-type {
      padding-bottom: 0;
    }
  }

// details
.year-milestone-details {
  width: 100%;
}

// cells
.milestone-meta {
  @extend .px-0;
  color: $navy0;
  font-weight: bold;
  font-size: $b-fontSize-s;
  line-height: 1.5;

  // date
  .milestone-when {
    .milestone-date {
      display: inline-block;
      text-align: right;
      width: em(24px);
    }
  }
}

.milestone-details {
    font-size: $b-fontSize-s;
    font-style: italic;
  }
}

// spacing
.v-spacing {
  td { 
    font-size: $b-fontSize-xs; 
    height: $b-space-2;
  }
}
