// =====================================
//
//   Tools
//   -> Single responsibility utility classes
//
// =====================================

//  informed by:
//  - http://mvcss.io/
//  - http://www.basscss.com/

// -------------------------------------
//   Display
// -------------------------------------

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

.dn {
  display: none;
}

// ----- Responsive Display ----- //

.m--dib {
  @media (min-width: $g-m) {
    display: inline-block;
  }
}

.m--hide {
  @media (min-width: $g-m) {
    display: none;
  }
}

.m--show {
  @media (min-width: $g-m) {
    display: block;
  }
}

// visually hidden

.vis-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px)
}

// nesting / contain - <img>

.fit {
  display: block;
  width: 100%;
}

.fit-h {
  display: block;
  height: 100%;
  width: auto;
}

// -------------------------------------
//   Positioning / Layers
// -------------------------------------

.fl {
  float: left;
}

.fr {
  float: right;
}

// ----- responsive float ----- //


.p-abs {
  position: absolute;
}

.p-fix {
  position: fixed;
}

.p-rel {
  position: relative;
}

// ----- responsive positioning ----- //


// ----- z-indices ----- //

.z1 {
  z-index: 1
}

.z2 {
  z-index: 2
}

.z3 {
  z-index: 3
}

// -------------------------------------
//   Sizing
// -------------------------------------

// TODO: rein in number of magic numbers

.w-max {
  width: 100%;
  max-width: $b-maxWidth;

  // max: $g-l
  &.max-gl {
    max-width: $g-l;
  }

  // max: $g-m
  &.max-gm {
    max-width: $g-m;
  }
}

// -------------------------------------
//   Rounding
// -------------------------------------

// ----- border radius ----- //

.rb-1 {
  border-radius: $b-borderRad-1;
}

.rb-2 {
  border-radius: $b-borderRad-2;
}

// -------------------------------------
//   Borders
// -------------------------------------

// -------------------------------------
//   Text
// -------------------------------------

// ----- Alignment ----- //

.t-alignC {
  text-align: center;
}

.t-alignL {
  text-align: left;
}

.t-alignR {
  text-align: right;
}

// ----- Responsive Align ----- //

.m--t-alignL {
  @media screen and (min-width: $g-m) {
    text-align: left;
  }
}

.m--t-alignR {
  @media screen and (min-width: $g-m) {
    text-align: right;
  }
}

.xs--t-alignR {
  @media screen and (min-width: $g-xs) {
    text-align: right;
  }
}


// -------------------------------------
//   Type Modifiers
// -------------------------------------

// -----  Font Size ----- //

.ts-xs {
  font-size: $b-fontSize-xs;
}

.ts-s {
  font-size: $b-fontSize-s;
}

.ts-base {
  font-size: em($b-fontSize);
}

.ts-l {
  font-size: $b-fontSize-l;
}

.ts-xl {
  font-size: $b-fontSize-xl;
}

.ts-xxl {
  font-size: $b-fontSize-xxl;
}

.ts-xxxl {
  font-size: $b-fontSize-xxxl;
}

.h1 { 
  font-size: $b-fontSize-xxl;
  
  @media (min-width: $g-m) {
    font-size: $b-fontSize-h1;
  }
}

.h2 {
  font-size: $b-fontSize-h2;
  color: $blueGrey0;

  @media (min-width: $g-m) {
    font-size: $b-fontSize-xxl;
  }
}

.h3 {
  font-size: $b-fontSize-h3;

  @media (min-width: $g-m) {
    font-size: em(20px);
  }
}

.m--ts-xl {
  @media (min-width: $g-m) {
    font-size: $b-fontSize-xl;
  }
}

.m--ts-xxxl {
  @media (min-width: $g-m) {
    font-size: $b-fontSize-xxxl;
  }
}


// ----- Color ----- //

.c-white {
  color: $white !important;
}

.c-blue0 {
  color: $blue0;
}

.c-grey3 {
  color: $grey3;
}

.c-grey4 {
  color: $grey4;
}

.c-grey5 {
  color: $grey5;
}

.c-blueGrey0 {
  color: $blueGrey0;
}

.c-navy0 {
  color: $navy0;
}

// ----- Style ----- //

em, .italic {
  font-style: italic;
}

// ----- Family ----- //

.tf-sans {
  font-family: $b-sans-fontFamily;
}

.tf-serif {
  font-family: $b-serif-fontFamily;
}

// ----- Transform ----- //

.upper {
  text-transform: uppercase;
}

// ----- Weight ----- //

.light {
  font-weight: 300;
}

.normal, .fw-400 {
  font-weight: 400; // normal
}

strong, .bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

// -------------------------------------
//   Background Modifiers
// -------------------------------------

// ----- Color ----- //

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-blue0 {
  background-color: $blue0;
}

.bg-grey0 {
  background-color: $grey0;
}

.bg-blueGrey1 {
  background-color: $blueGrey1;
}


// -------------------------------------
//   Margin
// -------------------------------------

// ----- All ----- //

.ma-0 {
  margin: 0;
}

.ma-1 {
  margin: $b-space-1;
}

.ma-2 {
  margin: $b-space-2;
}

.ma-3 {
  margin: $b-space-3;
}

.ma-4 {
  margin: $b-space-4;
}

.ma-5 {
  margin: $b-space-5;
}

.ma-6 {
  margin: $b-space-6;
}

// ----- Bottom ----- //

.mb-0 {
  margin-bottom: 0
}

.mb-1 {
  margin-bottom: $b-space-1;
}

.mb-2 {
  margin-bottom: $b-space-2;
}

.mb-3 {
  margin-bottom: $b-space-3;
}

.mb-4 {
  margin-bottom: $b-space-4;
}

.mb-5 {
  margin-bottom: $b-space-5;
}

.mb-6 {
  margin-bottom: $b-space-6;
}

// ----- Left ----- //

.ml-0 {
  margin-left: 0
}

.ml-1 {
  margin-left: $b-space-1;
}

.ml-2 {
  margin-left: $b-space-2;
}

.ml-3 {
  margin-left: $b-space-3;
}

.ml-4 {
  margin-left: $b-space-4;
}

.ml-5 {
  margin-left: $b-space-5;
}

.ml-6 {
  margin-left: $b-space-6;
}

// ----- Right ----- //

.mr-0 {
  margin-right: 0
}

.mr-1 {
  margin-right: $b-space-1;
}

.mr-2 {
  margin-right: $b-space-2;
}

.mr-3 {
  margin-right: $b-space-3;
}

.mr-4 {
  margin-right: $b-space-4;
}

.mr-5 {
  margin-right: $b-space-5;
}

.mr-6 {
  margin-right: $b-space-6;
}

// ----- Top ----- //

.mt-0 {
  margin-top: 0
}

.mt-1 {
  margin-top: $b-space-1;
}

.mt-2 {
  margin-top: $b-space-2;
}

.mt-3 {
  margin-top: $b-space-3;
}

.mt-4 {
  margin-top: $b-space-4;
}

.mt-5 {
  margin-top: $b-space-5;
}

.mt-6 {
  margin-top: $b-space-6;
}

// ----- Horizontal ----- //

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-2 {
  margin-left: $b-space-2;
  margin-right: $b-space-2;
}

.mx-3 {
  margin-left: $b-space-3;
  margin-right: $b-space-3;
}

.mx-4 {
  margin-left: $b-space-4;
  margin-right: $b-space-4;
}

.mx-5 {
  margin-left: $b-space-5;
  margin-right: $b-space-5;
}

.mx-6 {
  margin-left: $b-space-6;
  margin-right: $b-space-6;
}

// ----- Responsive Margin ----- //

.m--mb0 {
  @media (min-width: $g-m) {
    margin-bottom: 0;
  }
}

// -------------------------------------
//   Padding
// -------------------------------------

// ----- All ----- //

.pa-0 {
  padding: 0;
}

.pa-1 {
  padding: $b-space-1;
}

.pa-2 {
  padding: $b-space-2;
}

.pa-3 {
  padding: $b-space-3;
}

.pa-4 {
  padding: $b-space-4;
}

.pa-5 {
  padding: $b-space-5;
}

.pa-6 {
  padding: $b-space-6;
}

// ----- Bottom ----- //

.pb-0 {
  padding-bottom: 0
}

.pb-1 {
  padding-bottom: $b-space-1;
}

.pb-2 {
  padding-bottom: $b-space-2;
}

.pb-3 {
  padding-bottom: $b-space-3;
}

.pb-4 {
  padding-bottom: $b-space-4;
}

.pb-5 {
  padding-bottom: $b-space-5;
}

.pb-6 {
  padding-bottom: $b-space-6;
}

// ----- Left ----- //

.pl-0 {
  padding-left: 0
}

.pl-1 {
  padding-left: $b-space-1;
}

.pl-2 {
  padding-left: $b-space-2;
}

.pl-3 {
  padding-left: $b-space-3;
}

.pl-4 {
  padding-left: $b-space-4;
}

.pl-5 {
  padding-left: $b-space-5;
}

.pl-6 {
  padding-left: $b-space-6;
}

// ----- Right ----- //

.pr-0 {
  padding-right: 0
}

.pr-1 {
  padding-right: $b-space-1;
}

.pr-2 {
  padding-right: $b-space-2;
}

.pr-3 {
  padding-right: $b-space-3;
}

.pr-4 {
  padding-right: $b-space-4;
}

.pr-5 {
  padding-right: $b-space-5;
}

.pr-6 {
  padding-right: $b-space-6;
}

// ----- X - axis / horizontal ----- //

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: $b-space-1;
  padding-right: $b-space-1;
}

.px-2 {
  padding-left: $b-space-2;
  padding-right: $b-space-2;
}

.px-3 {
  padding-left: $b-space-3;
  padding-right: $b-space-3;
}

.px-4 {
  padding-left: $b-space-4;
  padding-right: $b-space-4;
}

.px-5 {
  padding-left: $b-space-5;
  padding-right: $b-space-5;
}

.px-6 {
  padding-left: $b-space-6;
  padding-right: $b-space-6;
}

// ----- Top ----- //

.pt-0 {
  padding-top: 0
}

.pt-1 {
  padding-top: $b-space-1;
}

.pt-2 {
  padding-top: $b-space-2;
}

.pt-3 {
  padding-top: $b-space-3;
}

.pt-4 {
  padding-top: $b-space-4;
}

.pt-5 {
  padding-top: $b-space-5;
}

.pt-6 {
  padding-top: $b-space-6;
}

// ----- Responsive Padding ----- //

.m--pl2 {
  @media (min-width: $g-m) {
    padding-left: $b-space-2;
  }
}

.m--px1 {
  @media (min-width: $g-m) {
    padding-left: $b-space-1;
    padding-right: $b-space-1;
  }
}

.m--pa2 {
  @media (min-width: $g-m) {
    padding: $b-space-2;
  }
}

.m--px6 {
  @media (min-width: $g-m) {
    padding-left: $b-space-6;
    padding-right: $b-space-6;
  }
}


// -------------------------------------
//   FX
// -------------------------------------

.shady {
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
}


// -------------------------------------
//   Overflow
// -------------------------------------

.oflow-h {
  overflow: hidden;
}

.oflow-v {
  overflow: visible;
}

// -------------------------------------
//   Vertical Align
// -------------------------------------

.has-ico-swallow {
  line-height: em(34px, 20px);
}

.lh-reset {
  line-height: normal;
}

.va-t {
  vertical-align: top;
}

.va-m {
  vertical-align: middle;
}