// -------------------------------------
//   WayPoints
// -------------------------------------

.scroll-down, .theme-dark {
  .header-bar {
    // home link
    .home-link {
      color: $blueGrey0;
  
      .ico-swallow {
        background-position: bottom center;
      }
    }
    
    // menu button
    .menu-btn {
      color: $blueGrey0;
  
      &:focus, &:hover {
        border-color: $blueGrey0;  
      }
    }
  }
}


.scroll-down {
  .header-bar .overlay {
    @include opacity(24);
  }
}


// -------------------------------------
//   Chapter
// -------------------------------------

// Hero Area - on scroll up

.hero-area {
  .hero-overlay {
    transition: 1s opacity ease;
  }

  .hero-image-layer {
    transition: 1s filter ease;  
  }

  // on scroll up
  &.blur-hero {
    .hero-overlay {
    @include opacity(72);
  }

  .hero-image-layer {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }  
  }
}